*{
  font-family: 'Poppins', 'san-serif';
}
body{
  background: rgb(248, 245, 245) !important;
}

.image_wrapper{
  width: 60px;
  height:50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.image_wrapper img{
  width: 60px;
  height: auto;
}
.image_avatar{
  width: 50px;
  height: auto;
}
.nav-link{
  border-radius: 0 !important;
  padding: 10px !important;
  font-size: 18px !important;
}
.main_back_color{
  background: #51438F;
}
.flex-grow{
  flex: 1 !important;
  text-align: left;
}
.table-wrapper{
  padding:4px 8px;
  border-radius: 10px;
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 0 13px -2px #ccc;
}