*{
  font-family: 'Poppins', 'san-serif';
}
.nav-link{
  border-radius: 0 !important;
  padding: 10px !important;
  font-size: 18px !important;
}
.main_back_color{
  background: #51438F;
}
.flex-grow{
  flex: 1 !important;
  text-align: left;
}